body {
    font-family: Arial, sans-serif;
    max-width: max(40%, 700px);
    margin: 40px auto;
    padding: 20px;
}

select,
button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}

.header-input-div {
    display: flex;
    width: 100%;
    align-items: center;
}

.header-input-div h2 {
    margin-right: 10px;
}

.header-input-div p {
    margin-right: 10px;
}

.header-input-div input {
    flex: 1;
    font-size: 1em;
}

.food-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

hr.custom-separator {
  border: none;
  height: 5px;
  background-color: #CCC;
  margin: 20px 0;
}

.food-search-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.food-search-modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}