<div class="food-search-modal">
    <div class="food-search-modal-content">
        <div class="header-input-div">
            <h2>Search for a Food:</h2>
            <input type="text" class="search-input" placeholder="Enter food name">
        </div>
        <button class="search-btn">Search</button>
        <select class="food-results-selector" size="5"></select>
        <button class="add-selected-food-btn">Add Selected Food</button>
        <button class="cancel-btn">Cancel</button>
    </div>
</div>